.container {
    display: flex;
    height: 100vh;
    padding-left: 100px;
    overflow: hidden;
  }
  
  .game-container {
    top: 100px;
    left: 0px;
    position: relative;
    width: 600px;
    height: 800px;
  }
  
  .effect-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  #game-view {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .message-div {
    position: absolute;
    top: 10%;
    left: 50%;
    color: white;
    background: rgba(255, 0, 0, 0.5);
    padding: 0px;
    font-size: 48px;
    z-index: 5;
  }
  
  .score-div {
    position: absolute;
    top: 0;
    left: 50%;
    color: white;
    background: rgba(24, 100, 0, 0.5);
    padding: 10px;
    font-size: 48px;
    z-index: 5;
  }
  
  .next-block-container {
    position: absolute;
    width: auto;
    height: auto;
    background-color: peachpuff;
    top: 20%;
    left: 50%;
    color: black;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .next-block-text {
    position: absolute;
    top: -25px;
    left: 0;
    color: black;
    font-size: 32px;
  }
  
  .next-block-image {
    position: relative;
    top: 0px;
    width: 50%;
    height: 50%;
  }
  
  .video-container {
    top: 520px;
    left: 0%;
    position: relative;
    width: 480px;
    height: 320px;
    border: 2px solid black;
  }
  
  .video {
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(-1);
    width: 480px;
    height: 320px;
  }
  
  .video-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 320px;
  }
  